<html>
<head>
<title>Home Page</title>
<script src="scripts/jquery.js"></script>
<script src="https://kit.fontawesome.com/d472d7247a.js" crossorigin="anonymous"></script>
</head>
<body>

  <%- include('../views/components/head'); %>
  <%- include('../views/components/navbar'); %>
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <h1>Academic Records</h1>
          <table>
            <tr>
              <th>Course</th>
              <th>Grade</th>
              <th>Details</th>
            </tr>
            <tr>
              <td>Math</td>
              <td>A</td>
              <td><a href="math.php">View</a></td>
            </tr>
            <tr>
              <td>English</td>
              <td>B</td>
              <td><a href="english.php">View</a></td>
            </tr>
            <tr>
              <td>Science</td>
              <td>C</td>
              <td><a href="science.php">View</a></td>
            </tr>
          </table>
            </form>
            </div>  
        </div>
      </div>
      
    </div>
    <script src="scripts/scripts.js"></script>

    </body>
    </html>