<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/components/head.ejs') %>
  </head>
  <body>
    <%- include('../views/components/nav.ejs',{auth:auth || {}}) %>
    <%=(JSON.stringify(data))%> <%- include('../views/components/foot.ejs') %>
  </body>
</html>
