<html>
<head>
<title>Home Page</title>
<script src="scripts/jquery.js"></script>
<script src="https://kit.fontawesome.com/d472d7247a.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('../views/components/head'); %>
  <%- include('../views/components/navbar'); %>

      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <h1>Personal Information</h1>
          <table>
            <tr>
              <th>Name</th>
              <td><?php echo $_POST["uname"]; ?></td>
              <td><button class="editbtn">Edit</button></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><?php echo $_POST["email"]; ?></td>
              <td><button class="editbtn">Edit</button></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><?php echo $_POST["address"]; ?></td>
              <td><button class="editbtn">Edit</button></td>
            </tr>
            </form>
            </div>  
        </div>
      </div>
      
    </div>
    <script src="scripts/scripts.js"></script>
</table>
</body>
</html>