<html>
<head>
<title>Home Page</title>
</head>
<body>
  <%- include('../views/components/head'); %>
  <%- include('../views/components/navbar'); %>
  <%- include('../views/components/query'); %>

<!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <h2>&nbspMain System</h2>
            <br>
            <h2>&nbspWelcome </h2>

            &nbsp<button onclick="location.href='perinfo.html'" style="width:auto">My Personal Info</button>
            <br><br>
            &nbsp<button onclick="location.href='academic.html'" style="width:auto">My Academic Records</button>


            </form>
            </div>  
        </div>
      </div>
      
    </div>
    <div id="id01" class="modal">
            
    <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="container">
        <label for="uname"><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br> 
        <button type="submit" style="width:auto">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
        </form>
<script src="scripts/scripts.js"></script>





</body>
</html>


